<ion-header>
    <ion-toolbar>
        <ion-title>Añadir usuario</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="contenedor">
        <ion-label>Registra un nuevo usuario</ion-label>
        <br>
        <br>
        <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-input type="text" name="nombre" id="nombre"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Apellido paterno</ion-label>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-input type="text" name="nombre" id="nombre"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Apellido materno</ion-label>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-input type="text" name="nombre" id="nombre"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-input type="email" name="nombre" id="nombre"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-icon name="lock-closed" slot="start"></ion-icon>
            <ion-input type="text" name="nombre" id="nombre"></ion-input>
        </ion-item>
        <ion-button expand="block">Registrar usuario</ion-button>
    </div>
</ion-content>