<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Mis pedidos.</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="msjError" name="cardPedidos" id="cardPedidos"></div>
    <ion-card id="cardItemPedidos" *ngFor="let item of datosPedidos" [routerLink]="['/add-pedido', item.id]">
        <ion-item>
            <ion-label>Número de pedido: CA00{{item.numero_pedido}}</ion-label>
            <ion-button slot="end" (click)="eliminarPedido(item.numero_pedido)">
                <ion-icon name="trash"></ion-icon>
            </ion-button>
        </ion-item>
        <ion-list>
            <ion-item>
                <ion-label>Cliente: {{item.cliente}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Fecha: {{item.fecha}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Total: {{item.total}}</ion-label>
            </ion-item>
        </ion-list>
    </ion-card>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed" (click)="crearPedido()">
        <ion-fab-button>
            <ion-icon name="share"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>