<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Articulo Detalle</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="navCar()">
                <ion-icon name="cart"></ion-icon>
                <ion-badge id="badge"> {{cont}} </ion-badge>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form>
        <div class="contenedor" id="producto" *ngFor="let item of producto">
            <img src="{{item.imagen}}" alt="" class="imgProducto">
            <ion-card>
                <ion-item>
                    <ion-label>{{item.nombre}} </ion-label>
                </ion-item>
                <ion-card-content>
                    <p>
                        <ion-label> {{item.descripcion}} </ion-label>
                    </p>
                </ion-card-content>
                <ion-item>
                    <ion-label slot="start">$ {{item.precio}} MXN</ion-label>
                    <ion-label>Cant:</ion-label>
                    <ion-input type="number" [(ngModel)]="contador" [ngModelOptions]="{standalone: true}"></ion-input>
                    <ion-button type="submit" expand="block" (click)="addToCart(item)" slot="end">Añadir
                        <ion-icon name="add-circle"></ion-icon>
                    </ion-button>
                </ion-item>
            </ion-card>

        </div>
    </form>
</ion-content>