.contenedor {
    width: 100%;
    height: 250px;
    /*background: linear-gradient(197deg, rgb(71, 172, 255) 0%, rgb(22, 143, 199) 13.5%, rgb(10, 109, 175) 33.33%, rgb(15, 47, 73) 100%) !important;*/
    background-image: url("../../../assets/img/online-shopping-shopping-cart-placed-alongside-notebook-on-blue.jpg");
    /*     background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: right; */
}

.conTexto {
    width: 100%;
    height: auto;
    padding-left: 3%;
    /*background-color: rebeccapurple;*/
    margin-top: -60%;
    margin-bottom: 2%;
}

img {
    width: 100px;
    height: 100px;
}

.items {
    width: 100%;
    height: 100%;
}

.itemCategoria {
    width: 45%;
    height: 200px;
    padding: 15px;
    -webkit-box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.5);
    background-color: white;
    border-radius: 10px;
    text-align: center;
    float: left;
    margin-left: 3.5%;
    margin-top: 10%;
    margin-bottom: 5%;
}