<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Tienda Centinela</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="navCar()">
                <ion-icon name="cart"></ion-icon>
                <ion-badge id="badge"> {{cont}} </ion-badge>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="contenedor"></div>
    <div class="conTexto">
        <h1>Tienda</h1>
        <p>Complementos <br> para mejorar la seguridad <br> de tu hogar.</p>
    </div>
    <div class="items">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-card [routerLink]="['/articulo-detalle']">
                        <ion-card-content>
                            <img src="../../../assets/img/mov.jpg" alt="">
                        </ion-card-content>
                        <ion-item>
                            <ion-label>Sensores</ion-label>
                        </ion-item>
                    </ion-card>
                </ion-col>
                <ion-col>
                    <ion-card [routerLink]="['/articulo-detalle']">
                        <ion-card-content>
                            <img src="../../../assets/img/rfid.jpg" alt="">
                        </ion-card-content>
                        <ion-item>
                            <ion-label>Cerraduras</ion-label>
                        </ion-item>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-card [routerLink]="['/articulo-detalle']">
                        <ion-card-content>
                            <img src="../../../assets/img/mov.jpg" alt="">
                        </ion-card-content>
                        <ion-item>
                            <ion-label>Sensores</ion-label>
                        </ion-item>
                    </ion-card>
                </ion-col>
                <ion-col>
                    <ion-card [routerLink]="['/articulo-detalle']">
                        <ion-card-content>
                            <img src="../../../assets/img/rfid.jpg" alt="">
                        </ion-card-content>
                        <ion-item>
                            <ion-label>Cerraduras</ion-label>
                        </ion-item>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-card [routerLink]="['/articulo-detalle']">
                        <ion-card-content>
                            <img src="../../../assets/img/mov.jpg" alt="">
                        </ion-card-content>
                        <ion-item>
                            <ion-label>Sensores</ion-label>
                        </ion-item>
                    </ion-card>
                </ion-col>
                <ion-col>
                    <ion-card [routerLink]="['/articulo-detalle']">
                        <ion-card-content>
                            <img src="../../../assets/img/rfid.jpg" alt="">
                        </ion-card-content>
                        <ion-item>
                            <ion-label>Cerraduras</ion-label>
                        </ion-item>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>