<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Detalles del pedido.</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
        <ion-icon slot="start" name="card"></ion-icon>
        <ion-label>Métodos de pago.</ion-label>
    </ion-item>
    <ion-card-content>
        <ion-button expand="block">PayPal</ion-button>
        <ion-button expand="block">Visa</ion-button>
        <ion-button expand="block">MasterCard</ion-button>
        <ion-button expand="block">MercadoPago</ion-button>
    </ion-card-content>
</ion-card>
</ion-content>