<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Centinela</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="logout()">
                <ion-icon name="exit"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="contenedor">

        <div class="banner"></div>
        <div class="banText">
            <h3>Bienvenido</h3>
            <h1>{{usuario}}</h1>
            <!--<h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem debitis facere, quia sint officia tempora aut iste optio ut corporis.</h5>-->
        </div>
        <div class="cards" name="cards" id="cards">
            <ion-card name="card" id="card" *ngFor="let item of datosSensores">
                <ion-item>
                    <ion-icon name="warning" slot="start"></ion-icon>
                    <ion-label>Registro de {{item.nombre}}</ion-label>
                    <ion-button fill="outline" slot="end">Ver</ion-button>
                </ion-item>

                <ion-card-content>
                    <table>
                        <thead>
                            <tr>
                                <th>Sensor</th>
                                <th>Movimiento</th>
                                <th>Fecha y hora</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{item.tipo_sensor}}</td>
                                <td>{{item.datos}}</td>
                                <td>{{item.fecha}}</td>
                            </tr>
                        </tbody>
                    </table>
                </ion-card-content>
            </ion-card>
        </div>
        <div class="blankF"></div>
    </div>
</ion-content>