<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Productos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="items" id="productos" name="productos">
        <div class="producto" *ngFor="let item of productosLista" [routerLink]="['/articulo-detalle', item.id]">
            <ion-item>
                <img src="{{item.imagen}} " alt="">
                <ion-label>
                    <p> {{item.nombre}} </p>
                    <h2>Precio: $ {{item.precio}} MXN</h2>
                </ion-label>
            </ion-item>
        </div>
    </div>
</ion-content>