<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Actividad</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="contenedor"></div>
    <div class="conTexto">
        <h1>Datos de los sensores.</h1>
    </div>
    <div class="cards">
        <ion-card>
            <ion-item>
                <ion-icon name="alert-circle" slot="start"></ion-icon>
                <ion-label>SM-HA</ion-label>
            </ion-item>
            <ion-card-content>
                <table>
                    <thead>
                        <tr>
                            <th>Sensor</th>
                            <th>Lugar</th>
                            <th>Prox.</th>
                            <th>Fecha y hora</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>HAB: 02</td>
                            <td>10 M</td>
                            <td>2020-11-21 2:48:25AM</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>HAB: 03</td>
                            <td>34 M</td>
                            <td>2020-11-21 2:48:25AM</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>HAB: 04</td>
                            <td>56 M</td>
                            <td>2020-11-21 2:48:25AM</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>HAB: 05</td>
                            <td>25 M</td>
                            <td>2020-11-21 2:48:25AM</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>HAB: 06</td>
                            <td>100 M</td>
                            <td>2020-11-21 2:48:25AM</td>
                        </tr>
                    </tbody>
                </table>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-item>
                <ion-icon name="alert-circle" slot="start"></ion-icon>
                <ion-label>SP-HA</ion-label>
            </ion-item>
            <ion-card-content>
                <table>
                    <thead>
                        <tr>
                            <th>Sensor</th>
                            <th>Lugar</th>
                            <th>Próximidad</th>
                            <th>Fecha y hora</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>HAB: 02</td>
                            <td>10 M</td>
                            <td>2020-11-21 2:48:25AM</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>HAB: 03</td>
                            <td>34 M</td>
                            <td>2020-11-21 2:48:25AM</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>HAB: 04</td>
                            <td>56 M</td>
                            <td>2020-11-21 2:48:25AM</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>HAB: 05</td>
                            <td>25 M</td>
                            <td>2020-11-21 2:48:25AM</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>HAB: 06</td>
                            <td>100 M</td>
                            <td>2020-11-21 2:48:25AM</td>
                        </tr>
                    </tbody>
                </table>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-item>
                <ion-icon name="alert-circle" slot="start"></ion-icon>
                <ion-label>SM-HF</ion-label>
            </ion-item>
            <ion-card-content>
                <table>
                    <thead>
                        <tr>
                            <th>Sensor</th>
                            <th>Lugar</th>
                            <th>Próximidad</th>
                            <th>Fecha y hora</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>HAB: 02</td>
                            <td>10 M</td>
                            <td>2020-11-21 2:48:25AM</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>HAB: 03</td>
                            <td>34 M</td>
                            <td>2020-11-21 2:48:25AM</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>HAB: 04</td>
                            <td>56 M</td>
                            <td>2020-11-21 2:48:25AM</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>HAB: 05</td>
                            <td>25 M</td>
                            <td>2020-11-21 2:48:25AM</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>HAB: 06</td>
                            <td>100 M</td>
                            <td>2020-11-21 2:48:25AM</td>
                        </tr>
                    </tbody>
                </table>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-item>
                <ion-icon name="alert-circle" slot="start"></ion-icon>
                <ion-label>SP-HF</ion-label>
            </ion-item>
            <ion-card-content>
                <table>
                    <thead>
                        <tr>
                            <th>Sensor</th>
                            <th>Lugar</th>
                            <th>Próximidad</th>
                            <th>Fecha y hora</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>HAB: 02</td>
                            <td>10 M</td>
                            <td>2020-11-21 2:48:25AM</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>HAB: 03</td>
                            <td>34 M</td>
                            <td>2020-11-21 2:48:25AM</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>HAB: 04</td>
                            <td>56 M</td>
                            <td>2020-11-21 2:48:25AM</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>HAB: 05</td>
                            <td>25 M</td>
                            <td>2020-11-21 2:48:25AM</td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>HAB: 06</td>
                            <td>100 M</td>
                            <td>2020-11-21 2:48:25AM</td>
                        </tr>
                    </tbody>
                </table>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>