<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Actividad</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="contenedor">
        <ion-card>
            <ion-item>
                <ion-icon name="alert-circle" slot="start"></ion-icon>
                <ion-label>SM-HA</ion-label>
            </ion-item>
            <ion-card-content></ion-card-content>
        </ion-card>
    </div>
</ion-content>